input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #fef0b8;
  ;
}


textarea{
  height:230px;
}

input[type=submit] {
  background-color: #0c0c0c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0c0c0c;
  color:#ffd42d;
}