    html,
    body {
      height: 100%;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      color: #333333;
      /* a definir */
      background-color: #f2f2f2;
    }


/***********************************************************
 -  Titres
***********************************************************/

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Poppins', sans-serif;
      color: 000000;
      /* a definir */
      padding: 0px;
      /* a definir */
      margin: 8px 0px 8px 0px;
      /* a definir */
    }

    h1 {
      font-size: 64px;
      /* a definir */
    }

    h2 {
      font-size: 42px;
      /* a definir */
    }

    h3 {
      font-size: 36px;
      /* a definir */
    }

    h4 {
      font-size: 24px;
      /* a definir */
    }

    h5 {
      font-size: 20px;
      /* a definir */
    }

    p {
      font-size: 16px;
      /* a definir */
      line-height: 24px;
      margin: 0px 0px 15px 0px;

    }

/***********************************************************
 -  Media
***********************************************************/
    .img-responsive {
      max-width: 100%;
    }



/***********************************************************
 - btn
***********************************************************/


    .btn {
      display: inline-block !important;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      border-radius: 12px 0px 12px 0px;
    }

    .btn-default {
      color: #FFF;
      background-color: #333333;
    }

    .btn-default:hover {
      background-color: #828282;
      color: #FFF;
    }



/***********************************************************
 - Tags
***********************************************************/

    .tags {
      font-family: 'Poppins', sans-serif;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 4px 6px;
      font-size: 11px;
      margin-left: 8px;
    }


.tags-default {
  color: #FFF;
  background-color: #333333;
}

.tags-default:hover {
  background-color: #828282;
  color: #FFF;
}


/***********************************************************
 -  Align Blocks
***********************************************************/

.center {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: left;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/***********************************************************
 - sidebar
***********************************************************/
.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  background-color: #0c0c0c;
  overflow-x: hidden;
  padding-top: 20px;
}
.disblock{
  /* display: flex;
  justify-content: center; */
   margin: auto;
  background-color: #fed32c;
  max-width: 70%;
  border-radius: 10px 10px 0px 10px;
  padding:30px;
  margin-bottom:15px;
  display: flex;
}


.disblock>div:first-child {
  flex: 1 30%;
  display: inline-block;
}


.disblock>div:last-child {
  flex: 1 70%;
  display: inline-block;
}


.distitle {
  background-color: #fed32c;
  font-weight: bold;
}

.discontent {
  font-size: 12px;
  line-height: 12px;
}


  .img-responsive{
    max-width: 100%
  }

  .logo {
    max-width: 80%;
    margin-bottom: 30px;;
  }





    #map {
      width: 100% !important;
      height: 100% !important;
      z-index: 4000;
    }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 0px;
  min-height: 150px;
  min-width: 350px;
}

.leaflet-popup-content p {
  margin: 0 0;
}

.leaflet-popup-content a.btn {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}