#map,
#root,
#container,
#mapContainer {
	width: 100% !important;
	height: 100% !important;
	z-index: 4000;
	background-color: black;
}



#mapLoader {
	width: 100% !important;
	height: 100% !important;
	z-index: 4200;
	position: relative;
	/* display:none; */
	background-color: #000000;
}


#mapLoader > img{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 0px;
	min-height: 150px;
	min-width: 350px;
	background-color: #ffd42d;

}

.leaflet-popup-tip {
	background: #ffd42d;
}

.leaflet-popup-content p {
	margin: 0 0;
	font-size: 14px;
	line-height: 16px;
}

.leaflet-popup-content a.btn {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
}

